<div class="container mt-2">
  <div class="row">
    <h3>【商品一覧】</h3>
      <%= link_to new_admin_item_path, class: 'text-dark' do %>
        <i class="fas fa-plus"></i>
      <% end %>
  </div>

  <table class="table">
    <thead>
      <tr class="table-secondary">
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>販売ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td>
          <%= link_to admin_item_path(item) do %>
          <%= item.name %>
          <% end %>
        </td>
        <td><%= item.price.to_s(:delimited) %></td>
        <td>
          <% if item.is_active %>
            <div class="text-success">販売中</div>
          <% else %>
            <div class="text-secondary">販売停止中</div>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @items %>
</div>