<div class="container mt-2">
  <h3>【商品新規登録】</h3>

<% if @item.errors.any? %>
  <%= @item.errors.count %>件のエラーが発生しました
  <ul>
    <% @item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @item, url: admin_items_path do |f| %>

  <table>
      <tr style="width:80%">
        <th style="width:20%">商品画像</th>
        <td style="width:60%"><%= f.file_field :image, accept: "image*/" %></td>
      </tr>
      <tr>
        <th>商品名</th>
        <td><%= f.text_field :name, size: "32x10", placeholder: "商品名" %></td>
      </tr>
      <tr>
        <th>商品説明</th>
        <td><%= f.text_area :introduction, size: "34x7", placeholder: "ここに説明文を記述します" %></td>
      </tr>
      <tr>
        <th>税抜価格</th>
        <td><%= f.text_field :price, size: "32x10", placeholder: "1000" %> 円</td>
      </tr>
      <tr>
        <th>販売ステータス</th>
        <td>
          <%= f.radio_button :is_active, true %>
          <%= f.label :is_active, "販売中" %>
          <%= f.radio_button :is_active, false %>
          <%= f.label :is_active, "販売停止中" %>
      </tr>
  </table>

    <%= f.submit '新規登録', class: 'btn btn-success' %>
<% end %>
</div>

