<div class="container">
  <h3>【商品詳細】</h3>

    <% if @item.image.attached? %>
      <%= image_tag @item.image, size: "250x200" %>
    <% else %>
      <%= image_tag 'no_image', size: "250x200" %>
    <% end %>
<table>
  <tbody>
    <tr>
      <th>商品名</th>
      <td><%= @item.name %></td>
      <th colspan="2"></th>
    </tr>
    <tr>
      <th>商品説明</th>
      <td><%= @item.introduction %></td>
      <th colspan="2"></th>
    </tr>
    <tr>
      <th>税込価格<br>
      （税抜価格）</th>
      <td>¥<%= (@item.price*1.1).floor.to_s(:delimited) %><br>
      (¥<%= @item.price.to_s(:delimited) %>)</td>
    </tr>
  </tbody>
</table>

<%= link_to "編集する", edit_admin_item_path(@item.id), class: 'btn btn-success' %>
</div>