<div class="container mt-2">
  <div class="row">
    <div class="mx-auto">
      <div class="text-center">
        <p class="border border-info border rounded">
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </p>
      </div>
    </div>
  </div>

  <h3 class="mt-2">【新着商品】</h3>

    <div class="d-flex justify-center flex-wrap">
      <% @items.each do |item| %>
        <div class="m-3">
        <% if item.image.attached? %>
          <div>
            <%= link_to public_item_path(item) do %>
              <%= image_tag item.image, size: "200x150" %>
            <% end %>
          </div>
        <% else %>
          <div>
            <%= link_to public_item_path(item) do %>
              <%= image_tag 'no_image', size: "200x150" %>
            <% end %>
          </div>
        <% end %>
          <div><%= item.name %></div>
          <div>¥<%= item.price.to_s(:delimited) %></div>
        </div>
      <% end %>
    </div>
  <%= paginate @items %>
</div>