<div class="container mt-2">

    ようこそ、ながのCAKEへ！<br>
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。

    <h2>新着商品</h2>

    <div class="d-flex justify-center flex-wrap">
      <% @items.each do |item| %>
        <div class="m-3">
        <% if item.image.attached? %>
          <div>
            <%= image_tag item.image, size: "200x150" %>
          </div>
        <% else %>
          <div>
            <%= image_tag 'no_image', size: "200x150" %>
          </div>
        <% end %>
          <div><%= item.name %></div>
          <div>¥<%= item.price.to_s(:delimited) %></div>
        </div>
      <% end %>
    </div>
    <%= paginate @items %>
</div>

