<p>ようこそ、ながのCAKEへ！<br>
このサイトは、ケーキ販売のECサイトになります。<br>
会員でない方も商品の閲覧はできますが、<br>
購入には会員登録が必要になります。</p>

<h2>新着商品</h2>

<table>
  <thead>
    <tr>
      <% @items.each do |item| %>

      <% if item.image.attached? %>
            <td><%= image_tag item.image, size: "200x150" %></td>
        <% else %>
            <td><%= image_tag 'no_image', size: "200x150" %></td>
        <% end %>
            <td><%= item.name %></td>
            <td><%= item.price %></td>
      <% end %>
    </tr>
  </thead>
</table>

<%= paginate @items %>

