<div class="container">
  <h4><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h4>

<% if @customer.errors.any? %>
  <%= @customer.errors.count %>件のエラーが発生しました
  <ul>
    <% @customer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @customer, url: admin_customer_path do |f| %>

  <table>
    <tr style="width:80%">
      <th style="width:20%">会員ID</th>
      <td style="width:60%"><%= @customer.id %></td>
    </tr>
    <tr>
      <th>氏名</th>
      <td>
      <%= f.text_field :last_name, autofocus: true, id:"inputName" %>
      <%= f.text_field :first_name, autofocus: true, id:"inputName" %>
      </td>
    </tr>
    <tr>
      <th>フリガナ</td>
      <td>
      <%= f.text_field :last_name_kana, autofocus: true, id:"inputName" %>
      <%= f.text_field :first_name_kana, autofocus: true, id:"inputName" %>
      </td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td><%= f.text_field :postal_code, autofocus: true %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= f.text_field :address, autofocus: true, size: "50x10" %></td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td><%= f.text_field :telephone_number, autofocus: true, id:"inputName" %></td>
    </tr>
    <tr>
      <th>メールアドレス</td>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    </tr>
    <tr>
      <th>会員ステータス</th>
      <td>
        <%= f.radio_button :customer_status, checked: :true %>
        <%= f.label :customer_status_is_active, "有効" %>
        <%= f.radio_button :customer_status, :value %>
        <%= f.label :customer_status_is_delated, "退会" %>
      </td>
    </tr>
  </table>

  <div class="mt-2">
    <%= f.submit "変更を保存", class: 'btn btn-success' %>
  </div>
</div>
<% end %>
