
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <table>
  <div class="field">
    <td><%= f.label :姓 %><br>
    <%= f.text_field :last_name, autofocus: true, id:"inputName", placeholder:"山田" %></td>

    <td><%= f.label :名 %><br>
    <%= f.text_field :first_name, autofocus: true, id:"inputName", placeholder:"笑子" %></td>
  </div>
  </table>

  <table>
  <div class="field">
    <td><%= f.label :セイ %><br>
    <%= f.text_field :last_name_kana, autofocus: true, id:"inputName", placeholder:"ヤマダ" %></td>

    <td><%= f.label :メイ %><br>
    <%= f.text_field :first_name_kana, autofocus: true, id:"inputName", placeholder:"エミコ" %></td>
  </div>
  </table>

  <div class="field">
    <%= f.label :郵便番号 %><br>
    <%= f.text_field :postal_code, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :住所 %><br>
    <%= f.text_field :address, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :電話番号 %><br>
    <%= f.text_field :telephone_number, autofocus: true, id:"inputName", placeholder:"09012345678" %>
  </div>

  <div class="field">
    <%= f.label :Eメール %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード再確認 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'btn btn-sm btn-success' %>
  </div>
<% end %>

<%= render "public/shared/links" %>



