<div class="container px-5 px-sm-0">
  <h4>注文履歴詳細</h4>

  <div class="row">
    <div class="col-md-8">
      <label class="font-weight-bold">注文情報</label>
      <table border="1" cellpadding="5" style="width:80%">
        <tr>
          <td class="table-secondary" style="width:20%">注文日</td>
          <td style="width:60%"><%= @order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
        </tr>
        <tr>
          <td class="table-secondary">配送先</td>
          <td>〒<%= @order.customer.postal_code %><br>
                <%= @order.customer.address %><br>
                <%= @order.customer.last_name %><%= @order.customer.first_name %>
          </td>
        </tr>
        <tr>
          <td class="table-secondary">支払方法</td>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <td class="table-secondary">ステータス</td>
          <td><%= %></td>
        </tr>
      </table>
    </div>

    <div class="col-md-4">
      <% @total += @order.payment_amount %>
      <label class="font-weight-bold">請求情報</label>
        <table border="1" cellpadding="5" style="width:70%">
          <tr>
            <td class="table-secondary" style="width:30%">商品合計</td>
            <td style="width:40%"><%= @total.to_s(:delimited) %></td>
          </tr>
          <tr>
            <td class="table-secondary">配送料</td>
                <% @order.postage = 800 %>
            <td><%= @order.postage %></td>
          </tr>
          <tr>
            <th class="table-secondary">ご請求額</th>
                <% total_payment = @order.postage + @total %>
            <td><%= total_payment.to_s(:delimited) %></td>
          </tr>
        </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <label class="font-weight-bold">注文内容</label>
          <table border="1" cellpadding="5" style="width:55%">
            <thead>
              <tr>
                <td class="table-secondary" style="width:35%">商品</td>
                <td class="table-secondary" style="width:10%">単価（税込）</td>
                <td class="table-secondary" style="width:5%">個数</td>
                <td class="table-secondary" style="width:5%">小計</td>
              </tr>
            </thead>

            <tbody>
              <% @order.order_details.each do |order_detail| %>
                <tr>
                  <td><%= order_detail.item.name %></td>
                  <td><%= order_detail.price.to_s(:delimited) %></td>
                  <td><%= order_detail.amount %></td>
                  <td><%= order_detail.price*order_detail.amount %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
    </div>
</div>