
<h2>商品一覧</h2>
    <h4>(全<%= @total_item %>件)</h4>

<table>
    <tbody>
        <tr>
        <% @items.each do |item| %>

        <% if item.image.attached? %>
            <td>
                <%= link_to public_item_path(item) do %>
                <%= image_tag item.image, size: "200x150" %>
                <% end %>
            </td>
        <% else %>
            <td>
                <%= link_to public_item_path(item) do %>
                <%= image_tag 'no_image', size: "200x150" %>
                <% end %>
            </td>
        <% end %>
            <td><%= item.name %></td>
            <td><%= item.price.to_s(:delimited) %></td>
        <% end %>
        </tr>
    </tbody>
</table>

<%= paginate @items %>



